DATABASE_HOST = ''
DATABASE_DB = ''
DATABASE_USER = ''
DATABASE_PASSWORD = ''

SES_ACCESS_KEY_ID = ''
SES_SECRET_ACCESS_KEY = ''

DJANGO_SECRET_KEY = ''

YAFOTKI_ACCOUNT_NAME = '_username_'
YAFOTKI_TOKEN = ''
YAFOTKI_POST = '/api/users/_username_/photos/'

DUMP_ACCOUNT_NAME = ''
DUMP_PASSWORD = ''

SSH_USER = ''